.cards {
    width: 100%;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 58px;
}

.card-section {
    border-radius: 8px;
    background: var(--bs-color-white);
    border: 1px solid var(--bs-color-santas-gray-100);
}

.card-item {
    padding-top: 24px;
    padding-bottom: 24px;
}

.card {
    text-align: center;
}

.card-text {
    font-weight: 700;
    font-size: 19px;
}

.card-number {
    color: var(--bs-color-charade);
    padding-top: 12px;
    font-size: 40px;
}

.card-link,
.card-text {
    color: var(--bs-color-santas-gray-100);
}

.card-section:hover {
    border: 1px solid var(--bs-color-blue-ribbon);
}

.card-link:hover .card-text,
.card-link:hover .card-number,
.card-text:hover {
    color: var(--bs-color-blue-ribbon);
}