.header-section {
    padding-top: 30px;
    padding-right: 30px;
    padding-left: 30px;
}

.header-text {
    font-size: 24px;
    color: var(--bs-color-charade);
    font-weight: 700;
}

.justify-content-between {
    justify-content: space-between;
}

.search-icon {
    padding-right: 26px;
}

.divider-header {
    height: 32px;
    border: 1px solid var(--bs-color-athens-gray);
    margin-left: 33px;
    margin-right: 33px;
}

.profile-text {
    padding-right: 14px;
}

.notification {
    position: relative;
    display: inline-block;
}

.notification .badge {
    position: absolute;
    top: -1px;
    right: -1px;
    padding: 2.5px 2.5px;
    border-radius: 100px;
    background: #3751FF;
    border: 1.5px solid #F7F8FC;
}